<h1>My Reservation</h1>
<p>Find me in app/views/events/index.html.erb</p>
<ul>
    <% @events.each do |event| %>
        <li class=<%= event.over? ? "past" : "" %>>
            <%= event.scheduled_datetime %> (<%= event.accepted? ? 'accepted' : 'not accepted'%>) | 
            <strong><%= event.plan.plan_name %></strong>
        </li>
    <% end %>
</ul>