<h1>Admin::Plans#show</h1>
<p>Find me in app/views/admin/plans/show.html.erb</p>
<h2><strong>plan name: </strong><%= @plan.plan_name %></h2>
<p><strong>description: </strong><%= @plan.description %></p>
<p><%= link_to '編集', '#'%></p>