<!DOCTYPE html>
<html>
  <head>
    <title>ReserverChat</title>
    <%= render "layouts/head"%>
  </head>

  <body>
      <%= render 'shared/errors' %>
      <%= render 'shared/header' %>
      <%= yield %>
  </body>
</html>
